.container-filter {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-inputs {
    margin: 0;
    padding: 8px;
}

.input-group {
    margin-top: 8px !important;
}

.button-search {
    position: relative;
    background-color: #1F3368 !important;
    width: 100%;
    margin-top: 16px;
}

.container-table {
    margin: 0;
    padding: 8px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.table-thead {
    width: 100%;
    height: auto;
}
